/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
  --filter-bar-width: 250px;
}

body {
    font-family: "Gill Sans", sans-serif;
}

#filters {
    margin-left: calc(-1 *  var(--filter-bar-width));
    width: var(--filter-bar-width);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    overflow-y: auto;
    background-color: #EEE;
    padding: 0.5em;
}

#menu-state {
  display: none;
}

#menu-toggle {
    position: fixed;
    display: block;
    top: 0px;
    left: 0; 
    font-size: 25px;
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 1em;
}

#results {
  display: flex;
  flex-wrap: wrap;
}

#results > * {
  position: relative;
  width: 12em;
  height: 18em;
  background-color: #EED;
  margin: 0.5em;
}

#results h3 {
  font-size: 1em;
  margin: 0;
  background-color: rgba(0,0,0,0.5);
  padding: 0.5em;
  color: white;
  font-weight: normal;
}

#results .actors, #results .writers {
  font-size: 0.7em;
  padding: 0.5em;
}

#results .price {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1em;
  margin: 0;
  background-color: rgba(0,0,0,0.5);
  padding: 0.5em;
  color: white;
}

#results .year {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1em;
  margin: 0;
  background-color: rgba(0,0,0,0.5);
  padding: 0.5em;
  color: white;
}

.facet {
  margin-top: 1em;
}

.facet .selectable {
  max-height: 10em;
  overflow-y: scroll;
}

.facet a {
  text-decoration: none;
}

.facet .count {
  color: #666;
}

.facet ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.facet ul li {
  margin: 0;
  padding: 0 0 0 1.5em;
  position: relative;
}

.facet ul.selected {
  margin-bottom: 1em;
}

.facet ul.selected li:before {
  content: '\2611';
  font-size: 1.5em;
  position: absolute;
  top: -0.2em;
  left: -0.015em;
}


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {
    #filters {
        left: var(--filter-bar-width);
    }

    body {
        padding-left: var(--filter-bar-width);
    }
}

@media (max-width: 48em) {
    #menu-state[type="checkbox"]:checked ~ #filters {
        margin-left: 0;
    }
    #menu-state[type="checkbox"]:checked ~ #menu-toggle {
        left: var(--filter-bar-width);
    }

}
